# EJERCICIO 2

In [24]:
from wget import download # type: ignore
from os import path, listdir
import pandas as pd # type: ignore

## Implementar en una notebook de Jupyter el código necesario para...

#### I) Descargar automáticamente ambos archivos :

Descargo el archivo que contiene la descripción del material de trabajo:

In [25]:
if not path.exists("netflix_titles.txt") :
    download("https://ignaciorlando.github.io/datasets/data-science/netflix_titles.txt")
else :
    print("El archivo ya existe")

El archivo ya existe

Ahora, descargo el archivo que contiene los datos:

In [26]:
if not path.exists("netflix_titles.csv") :
    download("https://ignaciorlando.github.io/datasets/data-science/netflix_titles.csv")
else :
    print("El archivo ya existe")

El archivo ya existe

#### II) Leer el archivo de descripción y mostrar su contenido en pantalla.

Leo el archivo de descripción desde las funciones de Python:

In [27]:
with open("netflix_titles.txt", "r", encoding = "UTF-8") as archivo :
    descripcion = archivo.read()

print(f"\n{descripcion}\n")

Películas y Series de TV de Netflix

Acerca del Conjunto de Datos

Netflix es una fuerza líder en el ámbito de los medios y la transmisión de video. Con una asombrosa variedad de más de 8,000 películas y programas de televisión accesibles en su plataforma, a mediados de 2021, su cantidad de suscriptores globales superaba los 200 millones. Este conjunto de datos tabulado cataloga exhaustivamente todas las ofertas en Netflix, incluidos detalles vitales como elenco, directores, calificaciones, año de lanzamiento, duración y más.

Descripción General del Conjunto de Datos:

El conjunto de datos de Títulos de Netflix es una compilación completa de películas y programas de televisión disponibles en Netflix, que cubre diversos aspectos como el tipo de título, director, elenco, país de producción, año de lanzamiento, calificación, duración, géneros (listados) y una breve descripción. Este conjunto de datos es fundamental para analizar tendencias en el contenido de Netflix, comprender la popularidad de los géneros y examinar la distribución del contenido en diferentes regiones y períodos de tiempo.

#### III) Leer el archivo de datos y mostrar su contenido en pantalla.

Para el siguiente paso, abro el archivo con la libreria de "Pandas":

In [28]:
raw_dataframe = pd.read_csv("netflix_titles.csv", encoding="ISO-8859-1")

raw_dataframe

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### IV) Imprimir la cabecera del archivo

In [29]:
raw_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8809 non-null   object
 2   title         8809 non-null   object
 3   director      6175 non-null   object
 4   cast          7984 non-null   object
 5   country       7978 non-null   object
 6   date_added    8799 non-null   object
 7   release_year  8809 non-null   int64
 8   rating        8805 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8809 non-null   object
 11  description   8809 non-null   object
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
 15  Unnamed: 15   0 non-null      float64
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
 18  Unnamed: 18   0 non-null      float64
 19  Unnamed: 19   0 non-null      float64
 20  Unnamed: 20   0 non-null      float64
 21  Unnamed: 21   0 non-null      float64
 22  Unnamed: 22   0 non-null      float64
 23  Unnamed: 23   0 non-null      float64
 24  Unnamed: 24   0 non-null      float64
 25  Unnamed: 25   0 non-null      float64
dtypes: float64(14), int64(1), object(11)
memory usage: 1.7+ MB

#### V) Imprimir los primeros 5 registros del archivo.

In [30]:
raw_dataframe.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### VI) Imprimir el resumen estadístico del mismo

In [31]:
raw_dataframe.describe(include="all")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
count,8809,8809,8809,6175,7984,7978,8799,8809.000000,8805,8806,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,8809,2,8806,4529,7694,748,1768,NaN,18,220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,s8809,Movie,15-Aug,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,6132,2,19,19,2819,109,NaN,3208,1794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.181292,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.818932,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Analizar los valores de las columnas. ¿Qué tipo de datos hay en cada una? ¿Qué representan? Incluir información del análisis en la notebook.

- **SHOW_ID:** dato cualitativo nominal. Sirve a modo de ID y no tiene información de interés ligada a él.
- **TYPE:** dato cualitativo nominal. Se refiere al tipo: pelicula o programa, y esto puede ser útil para saber cuál es la tendencia de la gente.
- **TITLE:** dato cualitativo nominal. Representa el título y puede ser de interés para saber qué tan llamativos son.
- **DIRECTOR:** dato cualitativo nominal. Indica el director de la obra y puede servir los gustos de los espectadores.
- **CAST:** dato cualitativo nominal. Muestra el reparto, lo que ayuda a saber las tendencias porque podrían haber actores célebres o de interés.                     
- **COUNTRY:** dato cualitativo nominal. Indica el origen de la película y su motivo puede ser que las personas de un lugar tienen más predisposición a ver películas locales que los extranjeros.                          
- **DATE_ADDED:** dato cualitativo ordinal. Se refiere a la fecha en la que fue añadido el producto a la plataforma. Si es novedoso podría ser de interés y se podría evaluar cómo reacciona la gente.                            
- **RELEASE_YEAR:** dato cuantitativo discreto. La fecha de lanzamiento tiene que ver con qué tan anticuada es una obra para una sociedad actual (por dar un ejemplo)                          
- **RATING:** dato cualitativo ordinal. El rating del filme es importante para saber los gustos de la gente y de la crítica.                        
- **DURATION:** dato cuantitativo continuo. Brinda información sobre la capacidad de atención de la gente y su predispoción a ver películas largas o cortas.                           
- **LISTED_IN:** dato cualitativo nominal. Habla de como fue clasificada la obra dentro de la obra. Lo mismo que fue aclarado, brinda información sobre tendencias.                            
- **DESCRIPTION:** dato cualitativo nominal. Se podría evaluar el impacto de la sinopsis, por ejemplo, qué tan llamativa.

## Responder las siguientes preguntas:

#### I) ¿Cuántos directores distintos hay?

In [32]:
frecuencia_directores = raw_dataframe["director"].value_counts() 

num_directores = frecuencia_directores.shape[0]
print(f"La cantidad de directores: {num_directores}\n")
print(f"Los directores en orden según la cantidad de veces que aparecen:\n\n{frecuencia_directores}\n")

La cantidad de directores: 4529

Los directores en orden según la cantidad de veces que aparecen:

director
Rajiv Chilaka              19
RaÃºl Campos, Jan Suter    18
Suhas Kadav                16
Marcus Raboy               16
Jay Karas                  14
                           ..
Drew Stone                  1
S. Shankar                  1
K.S. Ravikumar              1
Kevin Macdonald             1
Antoni Krauze               1
Name: count, Length: 4529, dtype: int64

#### II) ¿Quién es el director con más películas?

In [33]:
director_repetido = raw_dataframe["director"].mode()[0] 
print(f"El director más repetido es: {director_repetido}")

El director más repetido es: Rajiv Chilaka

#### III) ¿Cuántas series hay? ¿Y cuántos programas de TV?

In [34]:
cant_programas = raw_dataframe[raw_dataframe["type"] == "TV Show"].shape[0]
print(f"La cantidad de programas es: {cant_programas}")

cant_series = raw_dataframe[raw_dataframe["listed_in"].str.contains("series", case=False)].shape[0]
print(f"La cantidad de series es: {cant_series}")

La cantidad de programas es: 2677
La cantidad de series es: 571

#### IV) ¿Cuál es la película más vieja del catálogo? ¿Y la serie?

In [35]:
fecha_mas_vieja = raw_dataframe["release_year"].min()
peliculas_mas_viejas = raw_dataframe[raw_dataframe["release_year"] == fecha_mas_vieja]
peliculas_mas_viejas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### V) Dado un país, determinar cuántas películas de ese país hay en la base de datos

In [36]:
pais = input("Ingrese un país:")
cant_pais = raw_dataframe[raw_dataframe["country"].str.casefold() == pais.casefold()].shape[0]
print(f"El país que elegiste aparece {cant_pais} veces")

El país que elegiste aparece 0 veces